In [9]:
# Read in PGA driving distance

import pandas as pd

url = 'https://www.pgatour.com/content/pgatour/stats/stat.101.y2021.html'

html_tables = pd.read_html(url, attrs={'id': 'statsTable'})

STATS_TABLE = 0

driving_distance = html_tables[STATS_TABLE]

driving_distance

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,AVG.,TOTAL DISTANCE,TOTAL DRIVES
0,1,1,Bryson DeChambeau,83,323.7,51790,160
1,2,2,Rory McIlroy,77,319.3,47252,148
2,3,3,Cameron Champ,79,317.1,47568,150
3,4,4,Matthew Wolff,60,315.9,34748,110
4,5,5,Will Gordon,92,315.0,55434,176
...,...,...,...,...,...,...,...
191,192,196,Vaughn Taylor,81,278.4,43431,156
192,193,197,Brian Stuard,108,277.8,57772,208
193,194,198,Brendon Todd,93,275.2,47336,172
194,195,199,David Hearn,68,274.7,35166,128
195,196,200,K.J. Choi,54,269.2,27998,104

In [10]:
import pandas as pd

url = 'https://www.pgatour.com/content/pgatour/stats/stat.102.y2021.html'

html_tables = pd.read_html(url, attrs={'id': 'statsTable'})

STATS_TABLE = 0

driving_distance = html_tables[STATS_TABLE]

driving_distance

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,%,FAIRWAYS HIT,POSSIBLE FAIRWAYS
0,1,1,Brendon Todd,93,75.25,906,1204
1,2,2,Chez Reavie,90,74.11,870,1174
2,3,3,Brian Stuard,108,73.31,1063,1450
3,4,5,Ryan Armour,80,72.79,792,1088
4,5,6,Abraham Ancer,101,71.05,972,1368
...,...,...,...,...,...,...,...
191,192,196,Martin Trainer,63,49.64,408,822
192,193,197,Michael Kim,75,49.06,472,962
193,194,198,Jimmy Walker,74,47.18,486,1030
194,195,199,Wyndham Clark,84,47.05,511,1086
195,196,200,J.B. Holmes,50,46.86,313,668